body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,menu{margin:0;padding:0;border:0}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
body,input,textarea,keygen,select,button{font:normal 12px/1.2 'Pretendard','Noto Sans',sans-serif}
input,textarea,select,button{margin:0;padding:0;border-radius:0;color:#333;outline:0;vertical-align:middle}
a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type='submit'],input[type='button'],input[type='reset']{border:0;background:transparent;cursor:pointer}
img{border:0;vertical-align:top}

.clearfix::after{display:block;content:'';clear:both}
.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
    background-color: #333;
}
.header .left {
    float:left;
    padding:0 20px;
}
.header .right {
    float:right;
    padding:0 20px;
}
.header .nav {
    position: relative;
    line-height:60px;
    
}
.header .nav div { 
    display:inline;
    margin-right:12px;
    color: #fff;
    font-size: 14px;
}

.area_top  {
    position:relative;
    /* left:0;
    right:0; */
    /* width:100%; */
    height: 400px;
    margin-top: 60px;
    background-color: #444;
}
.area_top div {
    position: absolute;
    border-radius: 4px;
    box-sizing: border-box;
}
.area_top .search {
    width: 400px;
    height: 60px;
    padding: 12px 20px;
    margin: 120px 0 0 630px;
    background-color: rgba(245,245,245, 0.1);
}
.area_top .search div {
    display: inline;
    float: left;
}
.area_top .search :nth-child(1) {
    width: 36px;
    height: 36px;
    padding: 2px;
    background-color: rgba(245,245,245, 0.1);
}
.area_top .search :nth-child(2) {
    margin-left:48px;
    color:rgba(245,245,245, 0.5);
    font-size: 18px;
    line-height: 36px;
}

.area_top .add {
    padding: 0 16px;
    margin:200px 0 0 802px;
    background-color: rgba(245,245,245, 0.1);
    line-height: 36px;
}
.area_top .setting {
    left: 32px;
    bottom: 32px;
    padding: 0 10px;
    line-height: 24px;
    background-color: rgba(245,245,245, 0.1);

}


.container {
    position: relative;
    height: 3000px;
    background-color:  rgb(29, 29, 29);

}
.container .left {
    float: left;
    width: 20%;
}
.container .right {
    float: right;
    width: 80%;
}
/* class 4개 이하로 구조짜보기 */

.container .left .fixed-box {
    position:sticky;
    top: 20px;
    left: 80px;
    width: 240px;
    margin-top:50px;
}

.container .left .fixed-box .main {
    padding: 10px;
    margin-bottom: 12px;
    box-sizing:content-box;
    border-radius: 4px;
    color:#fff;
    background-color: rgba(245,245,245, 0.05);
    font-size: 18px;
    font-weight: 400;
}


.edit {
    float:right;
    margin: -45px 12px 0 0;
    color:#fff;
}


.sub div {
    margin: 12px 0 16px 20px;
    font-weight: 400;
    font-size: 16px;
    color:rgba(245,245,245, 0.15)
}

.sub div:hover {
    color:#fff;
}

.bookmark {
    margin-bottom: 50px;
}




.contents {
    width: 80%;
    background-color:rgb(29, 29, 29);
}

.align {
    float:left;
    margin: 50px 12px 0 30px;

}

.recommend-contents {
    width:900px;
    height: 350px;
    margin-right: 2px;
    /* background-color: lightskyblue; */
}

.article {
    padding:0 12px;
    box-sizing: border-box;
}

.align .contents-box {
    float:left;
    margin-right:20px;
}



.main-title {
    padding:8px 12px 16px;
    box-sizing: border-box;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}

.contents-box{
    width:272px;
    height:340px;
    margin-bottom:20px;
    border-radius: 10px;
    background-color: rgba(245,245,245, 0.05);
}
.recommend-contents .article .contents-box svg {
    position: absolute;
    margin-left:220px;
}
.contents-box img {
    width:100%;
    height:150px;
    border-radius: 10px 10px 0 0;
    background-color:rgb(217, 221, 238);
    
}

.contents-box div {
    color: rgba(245,245,245, 0.5);
    font-size:12px;
    font-weight: 300;
}

.contents-box .contents-title div {
    font-size: 18px;
    font-weight:400;
    color: #fff;
    padding: 16px 16px 4px 14px;
}
.contents-box .preview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    height: 50px;
    padding: 2px 12px 4px 14px;
}
.contents-box .keyword div{
    float: left;
    padding: 12px 12px 4px 14px;
}
.contents-box .writer {
    width: 272px;
    margin-top:40px;
    border-top: 1px solid rgba(75, 75, 75, 0.5);    
}

.contents-box .writer div {
    float:left;
    margin-top: 4px;
    padding: 14px 2px 0 14px;
    
}



.apply {
    width: 270px;
    height:350px;
    margin-left:-8px;
    /* background-color:magenta; */
}
.apply .main-title {
    float: left;
}
.apply .count{
    position: absolute;
    float: right;
    margin-left: 240px;
    padding:8px 0 0 0;
    box-sizing: border-box;
    color:#fff;
    font-size: 18px;
    font-weight: 500;

}
.apply-contents {
    margin-top: 45px;
}
.apply-contents div {
    width:250px;
    height:70px;
    margin:0 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(245,245,245, 0.05);
}
.new-contents {
    width:1199px;
    height:2700px;
    margin-top: 80px;
    /* background-color:midnightblue; */
}

footer {
    position:  relative;
    float: left;
    width: 100%;
    height:200px;
    background-color: #a7a7a7;
}