html body { 
    margin: 0;
    padding: 0;
    height:100%;
    
}


header {
    width:100%;
    height:60px;
    position:absolute;
    /* padding: 10px 20px; */
    background-color: #333;
}

.header_left {
    position: relative;
    margin:-10px 0 0 20px;
    float:left;
    top:50%;
    
}

.header_left div { 
    display:inline;
    margin-right:12px;
    color: #fff;
}

.header_right { 
    position: relative;
    float: right;
    margin:-10px 20px 0 0;
    top: 50%;}

.header_right div {
    display:inline;
    margin-left:12px;
    color: #fff;

}

.area_top  {
    position:absolute;
    width:100%;
    height: 400px;
    margin-top: 60px;
    background-color: #444;
}

.search {
    position:relative;
    top:50%;
    left:50%;
    margin: -80px 0 0 -200px;
    width: 400px;
    height: 60px;
    background-color: rgba(245,245,245, 0.1);
    border-radius: 10px;
}
.search div {
    position: relative;
    float: left;    
}

.search :nth-child(1) {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 8px 0 0 12px;
    text-align: center;
    background-color: rgba(245,245,245, 0.1);
}


.search :nth-child(2) {
    font-size: 18px;
    margin:20px 0 0 12px;
    color:rgba(245,245,245, 0.5);
}

.add {
    position: relative;
    top:50%;
    left:50%;
    margin:40px 0 0 -40px;
    width:60px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding:20px;
    border-radius: 2px;
    background-color: rgba(245,245,245, 0.1);
}

.setting {
    position: relative;
    left: 20px;
    bottom: -275px;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    width: 24px;
    height: 24px;
    background-color: rgba(245,245,245, 0.1);

}
.container {
    height:3000px;
    /* overflow: hidden; */
}

.box {
    height: 3000px;
    float: left;
    margin-top:460px;
}


.left-bar {
    width: 20%;
    background-color:  rgb(29, 29, 29);
}

.fixed-box {
    position:sticky;
    top: 20px;
    left: 80px;
    margin-top:50px;
    width: 240px;
    /* background-color: rgba(245,245,245, 0.5); */
}

.main {
    padding: 10px;
    box-sizing:content-box;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 400;
    margin-bottom: 12px;
    color:#fff;
    background-color: rgba(245,245,245, 0.05);

}


.edit {
    float:right;
    margin: -45px 12px 0 0;
    color:#fff;
}


.sub div {
    margin: 12px 0 16px 20px;
    color:rgba(245,245,245, 0.15)
}

.sub div:hover {
    color:#fff;
}

.bookmark {
    margin-bottom: 50px;
}




.contents {
    width: 80%;
    background-color:rgb(29, 29, 29);
}

.align {
    float:left;
    margin: 50px 12px 0 30px;

}
.recommend-contents {
    width:833px;
    height: 200px;
    margin-right: 2px;
    background-color: lightskyblue;
}

.apply {
    width: 333px;
    height:200px;
    background-color:magenta;
}

.new-contents {
    width:1199px;
    height:2700px;
    background-color:midnightblue;
}







footer {
    position:  relative;
    float: left;
    width: 100%;
    height:200px;
    background-color: #a7a7a7;
}